.brand img {
  max-height: 80px;
}

@media screen and (max-width:1199px) {
  .brand img {
    max-height: 50px;
  }

}

@media screen and (min-width:992px) {

  #navbarNav ul li a {
    font-weight: 600;
  }

  #navbarNav ul li .active {
    font-weight: 600;
  }
}

.main-navbar ul li a {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 14px;
}

.main-navbar .navbar-toggler {
  border: 0;
}

.main-navbar button:focus:not(:focus-visible) {
  box-shadow: none;
}

.main-navbar {
  padding: 8px 0;
}

#mainNavbar ul li .active {
  color: var(--primay);
  font-weight: 600;

}

.nav-btn-style {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-weight: 500;
}

.nav-btn-style2 {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 500;
}

.nav-btn-style2:hover {
  border-color: var(--secondary);
  color: var(--secondary);
}

.nav-btn-style:hover {
  border-color: var(--secondary);
  background-color: var(--secondary);
  color: #fff;
}

.headerfix {
  transition: all 1.5s;
  /* background-color: var(--white); */
  /* box-shadow: 0px 3px 16px #efefef; */
  position: sticky;
  top: 0;
  z-index: 99999;
}

@media (max-width:1199px) {
  div#navbarNav ul {
    padding-bottom: 25px
  }

  div#navbarNav ul li {
    padding: 5px 12px 5px 0;
    border-bottom: 1px solid #e3e3e3
  }


}

#navbarNav ul li:hover a {

  color: var(--primay);

}

#navbarNav ul li:hover {
  text-decoration: none;
}